apiVersion: v1
kind: Service
metadata:
  name: fleetman-webapp

spec:
  # this defines which pods are going to be represented by this service
  # the service becomes a network endpoint for either other services
  # or maybe external users to connect ot (eg browser)
  selector:
    app: brentwebapp
    release: "0-5"
  
  ports:
    - name: http
      port: 80
      nodePort: 30080

  # Choose NodePort or ClusterIP (or LoadBalancer)
  # If selecting NodePort, the above nodePort must be greater than 300000
  type: NodePort
---
apiVersion: v1
kind: Service
metadata:
  name: fleetman-queue

spec:
  selector:
    app: queue
  
  ports:
    - name: http
      port: 8161
      nodePort: 30010

  type: NodePort